doctype html
html
  head
    style
      include style.css
    title= title
  body

    block content
    br
    br
    br
    br
    br
    br
    br
    br
    br    
    br
    br
    block append
